@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.body-login {
  width: 100%;
  height: 100%;
  padding: 100px 0px;
  margin: 0px;
  background: rgb(70, 9, 94);
  background: linear-gradient(
    131deg,
    rgba(70, 9, 94, 1) 14%,
    rgba(144, 43, 143, 0.9345939059217437) 36%,
    rgba(192, 99, 240, 1) 55%,
    rgba(77, 135, 236, 1) 76%,
    rgba(11, 44, 116, 1) 95%
  );
}

.caja-login {
  width: 550px;
  height: 650px;
  background: rgb(14, 14, 14);
  background: linear-gradient(
    180deg,
    rgba(14, 14, 14, 0.771513288909313) 2%,
    rgba(35, 36, 36, 0.766) 40%,
    rgba(17, 16, 16, 0.8317367630646008) 90%
  );
  color: white;
  margin: 30px auto;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
}

.img-login {
  width: 100px;
  height: 100px;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  top: -65px;

  left: calc(50% - 60px);
  background: rgba(59, 56, 56, 0.75);
}

.titulo-login {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 0 0 30;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.labels-forms-login {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.caja-login input {
  width: 100%;
  margin-bottom: 20px;
}

.caja-login input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 55px;
}

.btn-enviar-login {
  border: none;
  outline: none;
  height: 50px;
  padding: 0px 70px;
  background: #4cca1c;
  font-size: 18px;
  color: white;
  margin: auto 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  border-radius: 10px;
}

.btn-enviar-login:hover {
  cursor: pointer;
  background: #5df122;
}

.olvidada {
  text-decoration: none;
  font-size: 16px;
  color: white;
  line-height: 70px;
  position: relative;
  margin-left: 30%;
}
.olvidada:hover {
  color: #4cca1c;
}

#bordeado {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: -5px;
  background: rgb(29, 28, 28, 0.9);
  text-align: center;
}

#bordeado a {
  text-decoration: none;
  color: #4cca1c;
  font-size: 20px;
  margin-left: 10px;
}

#bordeado a:hover {
  color: #2c8609;
}

.error-forms-login {
  color: red;
  margin-top: -40px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
